body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 30px;
}

h1 {
    text-align: center;
    color: rgb(31, 31, 31);
}

h2 {
    color: rgb(34, 37, 204);
    margin-top: 30px;
}


/* Q1 - Album List */

#albumList {
    background-color: white;
    padding: 20px 40px;
    max-width: 500px;
    border-radius: 10px;
}

#albumList li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


/* Q2 - Pyramid */

#pyramid {
    background-color: white;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;

    font-family: monospace;
    font-size: 24px;
    white-space: pre;
}


/* Q3 - Payment */

button {
    padding: 10px 20px;
    font-size: 16px;

    background-color: rgb(34, 37, 204);
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background-color: rgb(20, 22, 150);
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#paymentMessage {
    font-weight: bold;
}